

body {
   background-color: chocolate;
   width: 1920px;
   height: 1079px;
   border: 2px solid black;
   display: block;
}

/*.car {
  
}*/


/*.center_market {
   position: absolute;
   background-color: #f1e0df;
   width: 1110px;
   height: 839px;
   border: 5px solid red;

}*/

.line-top {
   position: absolute;
   width: 1920px;
   height: 34px;
   left: 0px;
   top: 0px;
   background: #F5F7FA;
}

.line-right {
   display: flex;
   justify-content:space-between;
}

.line-left {
   position: absolute;
width: 531px;
height: 11px;
left: 405px;
top: 12px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
justify-content: space-between;
/*align-items: center;*/

color: #979FAD;
}

.line-right {
   display: flex;
   justify-content:space-between;
}
.man {
   position: absolute;
width: 8px;
height: 4.2px;
left: 1326px;
top: 17.8px;

background: #333333;
}

.vhod {
position: absolute;
width: 63px;
height: 11px;
left: 1342px;
top: 12px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #333333;
}

.cherta {
   position: absolute;
width: 10px;
height: 0px;
left: 1405px;
top: 12px;

border: 1px solid #333333;
transform: rotate(90deg);
}

.regestr {
   position: absolute;
width: 97px;
height: 11px;
left: 1428px;
top: 12px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #333333;
}

.line-2 {
position: absolute;
width: 1920px;
height: 66px;
left: 0px;
top: 34px;
background: #FFFFFF;
}

.shtab {
   position: absolute;
   width: 124px;
   height: 41px;
   left: 405px;
   top: 14px;
      
}

.korzina {
   position: absolute;
   width: 19.25px;
   height: 14px;
   left: 1369px;
   top: 16px;
   
   /*background: #333333;*/
}

.kolichstvo {
   position: absolute;
   width: 12px;
   height: 12px;
   left: 1380px;
   top: 20px;
   
   font-family: Google Sans;
   font-size: 9px;
   line-height: 11px;
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #333333;
}

.v_korzine {
   position: absolute;
   width: 97px;
   height: 11px;
   left: 1403px;
   top: 11px;
   
   font-family: Google Sans;
   font-size: 14px;
   line-height: 16px;
   display: flex;
   align-items: center;
   
   color: #333333;
}

.tovar {
   position: absolute;
   width: 173px;
   height: 11px;
   left: 1403px;
   top: 30px;
   
   font-family: Google Sans;
   font-size: 12px;
   line-height: 14px;
   display: flex;
   align-items: center;
   
   color: #979FAD;
}



.line-3 {
   position: absolute;
   width: 1920px;
   height: 60px;
   left: 0px;
   top: 100px;
   
   background: #FFAF1E;
}
.number {
   position: absolute;
   width: 74px;
   height: 18px;
   left: 517px;
   top: 25px;
   
   font-family: Google Sans;
   font-size: 14px;
   line-height: 16px;
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #FFFFFF;
}
.poligon {
   position: absolute;
   width: 5px;
   height: 5px;
   left: 600px;
   top: 32px;
   
   background: #FFFFFF;
   transform: rotate(-180deg);
}
.ractangle {
   position: absolute;
   width: 661px;
   height: 38px;
   left: 628px;
   top: 13px;
   
   background: #FFFFFF;
   border-radius: 3px;
}
.number_zapchsti {
   position: absolute;
   width: 107px;
   height: 18px;
   left: 20px;
   top: 11px;
   
   font-family: Google Sans;
   font-size: 14px;
   line-height: 16px;
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #989FA6;
   
}
.Search {
   position: absolute;
   width: 96px;
   height: 38px;
   left: 1307px;
   top: 13px;
   
   border: 1.3px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 3px;
}

.work_zone {
   position: absolute;
   width: 96px;
   height: 38px;
   left: 445px;
   top: 165px;
   right: 405px;
   display: flex;
   justify-content: center;
   
}

.zone-1 {
background: #F5F7FA;
border: 1px solid #E5E8ED;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;
}

.stolb {
   background: #F5F7FA;
border: 1px solid #E5E8ED;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
}

/*#zone-2 {
   display: flex;
   flex-direction: row;
}*/