

body {
   background-color: #ffffff;
   width: 920px;
   height: 1079px;
   /*border: 2px solid black;*/
   /*display: block;
   position: fixed;*/
   
}

.pixel {
   width: 920px;
   height: 920px;
   padding-left: 405px;
   padding-right: 405px;
   /*border: 2px solid rgb(245, 26, 26);*/
   
   

}

.car {
/*width: 1920px;*/
height: 34px;
background: #F5F7FA;
display: flex;
justify-content:space-between;


/*padding-left: 0px;*/
/*display: flex;
justify-content: center;
align-items: center*/
}

.line-left {
/*padding-left: 405px;*/
/*padding-right: 984px;*/

color: #979FAD;
display: flex;
justify-content: flex-start;
align-items: center;
}

.line-right {
   /*padding-right: 395px;*/
  /* padding-left: 1326px;*/
   display: flex;
   justify-content: flex-end;
   align-items: center;
   
   
   
}

.line-2  {
width: 920px;
height: 66px;
left: 0px;
top: 34px;
background: #FFFFFF;
display: flex;
justify-content:space-between;
align-items: center;

}

/*.shtab {
  padding-left: 405px;
   display: flex;
   align-items: center;
   display: flex;
   align-items: center;
}*/

.korzina {
  /* padding-left: 1385px;*/

   display: flex;
   align-items: center;

}

.korzina-v-tovare {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;

}

.korzina-tovar {
   display: flex;
   flex-direction: column;
   padding-left: 15px;
   margin-top: -19px;
   }

.tovar {
   color: #979FAD;
}

.line-3 {
   background: #FFAF1E;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   /*flex-grow: 6;
   flex-grow: 6*/
   /*position: absolute;
width: 1920px;
height: 60px;
left: 0px;
top: 100px;*/
}

.number {
   color: #FFFFFF;
   padding-right: 26px;
   display: flex;
   align-items: center;
   
}
.number_zapchsti {
width: 750px;
background: #FFFFFF;
/*border-radius: 2px;*/
/*font-size: 10px;
line-height: 38px;
margin-top: 10px;
box-sizing: border-box;*/
border-radius: 3px;
display: flex;
align-items: center;

color: #989FA6;
}
.work {
   padding-left: 26px;
}
.Search {
   width: 92px;
   height: 28px;
   /*left: 1307px;
   top: 111px;*/
   padding-left: 7px;
   border: 1.3px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 3px;
   display: flex;
   align-items: center;
}
.one {
   padding-top: 22px;
   /*padding-left: 407px;*/
   text-align: center;
   height: 50%;
}

.four {
   background: #d62f2f;
   display: flex;
   justify-content: flex-start;
   
      }

.raf {
   width: 257px;
   height: 38px;
   border-radius: 3px 3px 0px 0px;
   background-color: #F5F7FA;
   border: 1px solid #E5E8ED;
   padding-right: 0px;
   }

   .one_search {
      width: 257px;
      height: 38px;
      border-radius: 3px 3px 0px 0px;
      background-color: #F5F7FA;
      border: 1px solid #E5E8ED;
      color: #989FA6;
   }

   .two {
      /*padding-left: 784px;*/
      padding-top: 20px;
      padding: 23px;
      
      /*display: flex;
      justify-content: flex-end;*/
      }

.gl {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
}

.glavna_1 {
/*display: flex;*/
align-items: center;
/*justify-content: flex-end;*/
}

.Zapchsti {
padding-top: 7px;
font-family: Google Sans;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
color: #333333;
margin-top: 16px;
}

.two_two {
   font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-right: 18px;
margin-top: 20px;

display: flex;
justify-content:space-between;

}

.two_legt {
   display: flex;
   justify-content: center;
   /*padding-right: 405px;*/
   
}

.two_left {
display: flex;
justify-content: center;
}

.BY {
   width: 89px;
height: 32px;
left: 783px;
top: 260px;

background: #FFAF1E;
border: 1.3px solid #f5f3f1;
box-sizing: border-box;
border-radius: 0px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 2px;

}

.new {
   width: 89px;
height: 31px;
left: 685px;
top: 261px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
justify-content: center;

color: #333333;



border: 1.3px solid #FFAF1E;
box-sizing: border-box;
border-radius: 3px;
margin-right: 9px;
}

.nalichie {
width: 141px;
height: 31px;
left: 1252px;
top: 261px;


font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
justify-content: center;

color: #333333;



border: 1.3px solid #FFAF1E;
box-sizing: border-box;
border-radius: 3px;
margin-right: 8px;
}

.pod_zakaz {
   width: 114px;
height: 32px;
left: 1401px;
top: 260px;

background: #FFAF1E;
border: 1.3px solid #FFAF1E;
box-sizing: border-box;
border-radius: 3px;

width: 114px;
height: 32px;
left: 1401px;
top: 259px;

font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
justify-content: center;
text-align: center;
color: #FFFFFF;
padding-right: 0px;
display: flex;
align-items: center;
justify-content: center;
}

.the {
   display: flex;
   justify-content: flex-start;
   margin-top: 20px;
}

/*.line_333 {
   height: 100px;
}*/

.dolars {
   font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #333333;
}

.vozrast {
   font-family: Google Sans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #979FAD;
margin-left: 19px;
}

.princ {
   display: flex;
justify-content:space-between;
}

.ystal {
   justify-content: flex-start;
align-items: center;
}

/*.right_end {
   display: flex;
   justify-content: center;
   justify-content: center;
}*/


.stoyka {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   margin-left: -70px;     
}

.dollars {
   display: flex;
   justify-content: center;
   align-items: center;
   }

   .right_end_top {
      margin-right: 15px;
      
   }

.right_end_end {
margin-left: 90px;
}

/*.right_end {
   display: flex;
   justify-content: center;
   align-items: center;
}*/

.right_end_end {
   width: 114px;
height: 32px;
left: 1401px;
top: 260px;

background: #FFAF1E;
border: 1.3px solid #FFAF1E;
box-sizing: border-box;
border-radius: 3px;



font-family: Google Sans;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
padding-right: 0px;
display: flex;
align-items: center;
justify-content: center;
}



.three {
  /*display: block;*/
   /*justify-content: flex-start;*/
   margin-top: 20px;
/*height: 153px;
  width: 900px;*/
  /*width: 855px;*/
/*height: 0px;
left: 685px;
top: 350px;*/

   /*display: flex; 
   flex-direction: row;*/

  /* display: flex;
justify-content:space-between;
*/
   
  
}

/*.image_left {
   width: 36px;
   height: 136px;
   left: 685px;
   top: 366px;
}*/





/*.line-left {
   display: flex;
   justify-content: start;
}
.line_right{
justify-content: flex-end;
}