/*
body {
   margin: 50px auto;
   width: 500px;
  /* border: 50px seagreen;*/
/*  }   */
/*
.blk {
   width: 200px;
   height: 100px;
   text-align: center;
   font-size: 1.75rem;
   line-height: 98px;
   border: 2px solid rgb(243, 14, 14);
}

.main {
   position: relative;
   width: 20px;
}

.menus {
   position: absolute;
   left: 200px;
   top: 0px;
   display: none; /*--- если я это не скрываю - то у меня вообще ничего не отображает */

/*
.item:hover + .menus, .menus:hover, .menu:hover {
   color: rgb(248, 244, 14);
   display: block;
}


*/
:root {
   --card-width: 180px;
}

body {
   margin: 50px auto;
   width: 500px;
   border: 2px solid rgb(250, 250, 250);
}

.main {
   border: 2px solid rgb(252, 253, 252);
   margin: 20px;
   position: relative;
   min-height: 50px;
}

.card {
   position: absolute;
   width: var(--card-width) ;
   height: calc(var(--card-width) / 5 * 7);
   border: 2px solid black;
   background-color: white;
}

.card1 {
   left: 30px;
   z-index: 1;
   
   }

   .nominal1 {
      color: red;
      border: 2px solid rgb(23, 240, 88);
      margin: 15px;
      position: absolute;
      top: 10px;
   }

.crd2 {
   left: 60px;
   z-index: 2;
}

.crd3 {
   left: 90px;
   z-index: 3;
}

.crd1:hover {
   top: -20px;
   z-index: 99;
   background-color: rgb(216, 43, 43)
}

.crd2:hover {
   top: -20px;
   z-index: 99;

   background-color: rgb(20, 241, 20)
}

.crd3:hover {
   top: -20px;
   z-index: 99;
   background-color: rgb(238, 216, 15)
}

