

.top {
   height: 75px;
   border: 5px solid crimson;
   background: cyan;
   display: flex;
   align-items: center;
}

.line_left {
width: 3000px;
height: 50px;
display: flex;
padding-left: 25px;
}

.line_right {
   display: flex;
   align-items: center;
   padding: 105px;
   }

   .menu_1:hover > .its {
      color: rgb(0, 0, 0);
      display: block;
      display: flex;

   }

.menu_2:hover > .its {
      color: rgb(0, 0, 0);
      display: block;
      display: flex;
   }

.menu_3:hover > .its {
      color: rgb(10, 9, 1);
      display: block;
      display: flex;
   }
   

   .its {
      display: none;
      /*text-align: center;
      font-size: 1.75rem;
      border: 2px solid rgb(44, 199, 52);
      display: block;*/
   }

.menu_2 {
   margin: 50px;
   height: 0px;
}

.menu_1 {
   height: 0px;
}

.menu_3 {
   height: 0px;
}

.its {
   background-color: rgb(252, 25, 25);
   position: relative;
   font-size: 20px;
   width: 90px;
}

.its:hover > .asd {
   display: block;
}

.asd {
   display: none;
   scroll-padding-left: ;
}

